<<<<<<< Updated upstream
.navi{
	text-align:right;
}

#wrapper{
	background-color: red;
}
.info{
	width:100px;
	display: inline-block;
}
img{
	border:1px;

}

#first_image{
	width: 60px;
}

#container{ 
	list-style-type: none;
}
.col-md-4{
	margin-top: 200px;
=======
#footer {
background-color:orange;
color:white;
clear:both;
text-align:center;
padding:15px; 
font-family: monaco;
font-size: 14px;
>>>>>>> Stashed changes
}