<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <title>Girls</title>
   </head>
   <body>
      <div class="col-md-8">
         <p><img src="https://pbs.twimg.com/profile_images/1990249248/image.jpg" width='200' height='200' alt="profile" id="profile"/>
        <button type="Submit">Update profile picture</button>
		</p>
         <div class="col-md-4">
            <form action="/status" method="POST">

               <p> blahblah blahblahblahblah
               blahblahblahblah blahblahblahblahblahblahblahblahblahblah</p>
               <button type="Submit">Update</button>
            </form>
         </div>
      </div>
      <div class="navi">
         <a href="/">Home</a> | <a href="messages.html">Messages</a>
      </div>
   </body>
</html>